// Colours
$black-main: #000000;
$black-light: #222222;

// Orange
$orange-main: #FFCC00;

// Linear gradients
// $main-gradient:

// Whites
$white-main: #ffffff;

// Greys
$grey-main: #f2f2f2;

// Breakpoints
$xxs: 400px;
$xs: 500px;
$small: 600px;
$med: 750px;
$large: 960px;
$xl: 1080px;
$xxl: 1200px;
$xxxl: 1440px;
$sl: 1600px;