.site-header {
    background-color: $black-light;
    position: relative;
    z-index: 1;

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;

        &--list {
            list-style: none;
            display: flex;
        }

        &--item {
            .nav-link {
                color: $grey-main;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.2rem;
                margin: 1rem;
                letter-spacing: .2rem;
                font-weight: 700;
            }
        }
    }
}

// Media queries

//750px
@media screen and (min-width: $med) {
    .site-header {

        .nav-link {
            font-size: 1.5rem;
            margin: 1rem 1.5rem;
        }
    }
}



